/* .tech-stack {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
} */

.tech-badge {
  background-color: var(--brand-color);
  color: var(--light-color);
  display: inline-block;
  font-size: .6rem;
  font-weight: 300;
}