nav {
  background-color: var(--accent-dark);
}

.nav-link,
.nav-link:visited {
  color: var(--light-color);
  display: inline-block;
  font-family: "Rubik";
  font-size: 1rem;
  font-weight: 600;
}

.nav-link:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  text-decoration: none;
}