nav {
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.initials,
.initials:hover,
.initials:visited {
  color: var(--brand-color);
  font-family: var(--rubik);
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.text-link,
.text-link:visited {
  color: var(--dark-color);
  display: inline-block;
  font-family: var(--rubik);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.text-link:hover {
  background-color: var(--brand-color);
  color: var(--light-color);
  text-decoration: none;
}

.icon {
  color: var(--dark-color);
  font-size: 2rem;
}

.icon-toggler:hover {
  color: var(--brand-color);
}

.btn-resume {
  background-color: var(--accent-dark);
  color: var(--light-color);
}

.btn-resume:hover {
  background-color: var(--accent-darker);
  color: var(--light-color);
}