/* Theme and Inherited Styles */

:root {
  --brand-color: #00B894;
  --accent-light: #60B8C8;
  --accent-dark: #5A6385;
  --light-color: #EEF1F2;
  --dark-color: #1F202D;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* Background color wrapper */

#bg-wrapper {
  background-color: var(--light-color);
}

/* Typography media queries */

@media (max-width: 992px) {
  .heading {
    font-size: 2.75rem;
  }

  .h5 {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 2.75rem;
  }

  .h5 {
    font-size: 1.175rem;
  }
}