// Overwrite Bootstrap styles
$primary: #0E7A64;
$secondary: #569898;
$dark: #191920;
$light: #EFF1F2;
$danger: #D5446B;
$info: #58BAC9;

// Import Bootstrap styles
@import "~bootstrap/scss/bootstrap.scss";